@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Surname
            </th>
            <th>
                Qualification Count
            </th>
            <th>
                Qualification Names
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cadet in Model.Cadets)
        {
            <tr>
                <td>
                    @cadet.Surname
                </td>
                <td>
                    @cadet.Qualifications.Count
                </td>
                <td>
                    <table class="table-secondary bg-secondary">
                        @foreach (var qualification in cadet.Qualifications)
                        {
                            <tr>
                                @qualification.Qualification.Name
                            </tr>
                            <tr>
                                @qualification.Qualification.PassMark
                            </tr>
                            <br />
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
