@page
@model FinalCourseworkTemplate.QualificationModel
@{
    ViewData["Title"] = "Qualification";
}

<h1>Qualification</h1>

<a asp-area="" asp-page="/CadetCreator">Cadet Creator</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Surname
            </th>
            <th>
                Qualification Count
            </th>
            <th>
                Qualification Names
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cadet in Model.Cadets)
        {
            <tr>
                <td>
                    @cadet.Surname
                </td>
                <td>
                    @cadet.Qualifications.Count
                </td>
                <td>
                    @* displays qualification names and passmarks with line breaks *@
                    <table class="table-secondary bg-secondary">
                        @foreach (var qualification in cadet.Qualifications)
                        {
                            <tr>
                                @qualification.Qualification.Name
                            </tr>
                            <tr>
                                @qualification.Qualification.PassMark
                            </tr>
                            <br />
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
