@page
@model FinalCourseworkTemplate.Pages.RegisterEditModel
@{
    ViewData["Title"] = "RegisterEdit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Take a Register</h1>


@*show table with checkboxes, allow submit button*@
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Attendance
                </th>
                <th>
                    Date of Registration
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.RegisterViews.Count; i++)
            {
                <tr>
                    <td>
                        <input type="text" asp-for="@Model.RegisterViews[i].FullName" readonly="readonly" />
                    </td>
                    <td>
                        @*@cadet.Attendance*@
                        Attended? <input type="checkbox" asp-for="@Model.RegisterViews[i].Attendance">
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.RegisterViews[i].RegDate" readonly="readonly" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>

@{
    if (TempData.Peek("returnedString") != null)
    {
        <h3>Message Recieved: @TempData.Peek("returnedString")</h3>
    }
}
