@page
@model FinalCourseworkTemplate.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Registers</h1>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Attendance
                </th>
                <th>
                    Date of Registration
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" asp-for="nameFilter" size="17" />
                </td>
                <td>
                    <input type="text" asp-for="attendFilter" size="17" min="-1" />
                </td>
                <td>
                    <input type="date" asp-for="dateFilter" size="17" />
                </td>
            </tr>
            @foreach (var cadet in Model.RegisterViews)
            {
                <tr>
                    <td>
                        @cadet.FullName
                    </td>
                    <td>
                        @cadet.Attendance
                    </td>
                    <td>
                        @cadet.RegDate
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>
